Repository oozut/cenv_tool: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, coverage-badge, build-package

.pre-commit-config.yaml:

# Info:
# -----
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

fail_fast: True
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.2.3
      hooks:
          #- id: no-commit-to-branch
          #- args: [--branch, master]
        - id: check-docstring-first
        - id: trailing-whitespace
          args: [--markdown-linebreak-ext=md]
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: double-quote-string-fixer
        - id: mixed-line-ending
          args: [--fix=lf]
        - id: check-executables-have-shebangs
        - id: fix-encoding-pragma
        - id: check-case-conflict
        - id: name-tests-test
    - repo: https://github.com/pre-commit/pygrep-hooks
      rev: v1.4.1
      hooks:
        - id: python-use-type-annotations
        - id: python-no-log-warn
    - repo: https://github.com/asottile/reorder_python_imports
      rev: v1.6.0
      hooks:
        - id: reorder-python-imports
    - repo: https://github.com/asottile/add-trailing-comma
      rev: v1.4.1
      hooks:
        - id: add-trailing-comma
    - repo: https://github.com/pre-commit/mirrors-yapf
      rev: v0.28.0
      hooks:
        - id: yapf
          types: [python]
          always_run: true
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.2.3
      hooks:
        - id: check-ast
    - repo: https://gitlab.com/pycqa/flake8
      rev: ace069c9c3585b4c74348f94da313bbc020dfc73
      hooks:
        - id: flake8
    - repo: https://github.com/codespell-project/codespell
      rev: 70196e35a7baa730e26ab6a0da77b5e68d980611
      hooks:
        - id: codespell
    - repo: local
      hooks:
          - id: pytest
            name: pytest
            description: running pytest
            entry: bash -c "$VIRTUAL_ENV/bin/pytest"
            language: system
            types: [python]
            pass_filenames: false
          - id: coverage-badge
            name: coverage-badge
            description: create the coverage badge
            entry: bash -c "$VIRTUAL_ENV/bin/coverage-badge -f -o docs/_static/coverage.svg"
            language: system
            types: [python]
            pass_filenames: false
          - id: build-package
            name: build the package for the repo
            description: Generate the dist packages for this repo
            language: system
            entry: dephell project build
            files: "^pyproject.toml$"
            pass_filenames: false

added previous missing docs-dependency sphinx-autodoc-typehints
  pyproject.toml
  setup.py
Due: pytest, coverage-badge, build-package

added requirements file for readthedocs to create the documentation
  docs/requirements.txt
  pyproject.toml
  setup.py
Due: pytest, coverage-badge, build-package

split function read_meta_yaml previously did two things (read the meta.yaml and extract the dependencies) into two functions.
  cenv_tool/project.py
  cenv_tool/utils.py
  tests/utils_test.py
Due: pytest, coverage-badge

reordered imports
  cenv_tool/__init__.py
  docs/conf.py
  tests/project_test.py
Due: pytest, coverage-badge

removed mkdocs.yml not used anymore because using sphinx now
  mkdocs.yml
Due: none

added pytest-datafiles to pytest marks
  setup.cfg
Due: none

changed some functions, classes and methods to be private
  cenv_tool/project.py
  cenv_tool/utils.py
  tests/project_test.py
  tests/utils_test.py
Due: pytest, coverage-badge

replaced usage of README.md with README.rst
  README.md
  README.rst
  pyproject.toml
Due: build-package

updated coverage badge
  docs/_static/coverage.svg
Due: none

updated documentation how to develop cenv
  README.rst
  docs/development.rst
  docs/index.rst
Due: none

added new rule to define the python version inside the extra section of a meta.yaml
  README.rst
  cenv_tool/schemata.py
  cenv_tool/utils.py
  docs/index.rst
  docs/usage.rst
  pyproject.toml
  setup.py
  tests/testproject/conda-build/meta.yaml
  tests/utils_test.py
Due: pytest, coverage-badge, build-package

changed reference to logo in README.rst to correct url
  README.rst
Due: none

added Makefile for common tasks during development
  Makefile
Due: none

added `run_constrained` inside requirements section of meta.yaml to be recognized during depenendency collection, too.
  cenv_tool/schemata.py
  cenv_tool/utils.py
  docs/_static/coverage.svg
  docs/requirements.txt
  docs/usage.rst
  poetry.lock
  pyproject.toml
  setup.py
  tests/testproject/conda-build/meta.yaml
  tests/utils_test.py
Due: pytest, coverage-badge, build-package

cenv-settings for project are extracted now from "extra:cenv"-section.
  README.rst
  cenv_tool/project.py
  cenv_tool/schemata.py
  cenv_tool/utils.py
  docs/_static/coverage.svg
  docs/index.rst
  docs/usage.rst
  poetry.lock
  pyproject.toml
  tests/invalid_testproject/conda-build/meta.yaml
  tests/testproject/conda-build/meta.yaml
  tests/utils_test.py
Due: pytest, coverage-badge, build-package

bugfix in setup.py
  pyproject.toml
  setup.py
Due: pytest, coverage-badge, build-package

Pin marshmallow to latest version 3.8.0
  docs/requirements.txt
Due: none

Pin marshmallow to latest version 3.9.0
  docs/requirements.txt
Due: none

Pin marshmallow to latest version 3.9.1
  docs/requirements.txt
Due: none

Pin marshmallow to latest version 3.10.0
  docs/requirements.txt
Due: none

Pin marshmallow to latest version 3.11.0
  docs/requirements.txt
Due: none

Pin marshmallow to latest version 3.11.1
  docs/requirements.txt
Due: none

Pin marshmallow to latest version 3.12.0
  docs/requirements.txt
Due: none

Pin marshmallow to latest version 3.12.1
  docs/requirements.txt
Due: none

Pin marshmallow to latest version 3.12.2
  docs/requirements.txt
Due: none

Pin marshmallow to latest version 3.13.0
  docs/requirements.txt
Due: none
